# Nuevas vistas de inscribir ramos formulario
<%= form_with(model: [@course, @evaluation], local: true) do |form| %>
  <%= form.hidden_field :course_id, value: @course.id %>

  <div>
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :questions, "Preguntas" %>
    <%= form.text_area :questions %>
  </div>

  <div>
    <%= form.label :solution, "Solución" %>
    <%= form.text_area :solution %>
  </div>

  <%= form.submit 'Crear Evaluación' %>
<% end %>