# Nuevas vistas de inscribir ramos formulario
# app/views/evaluations/_form.html.erb
<%= form_with(model: [@course, @evaluation], local: true) do |form| %>
  <div>
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :questions, "Preguntas" %>
    <%= form.text_area :questions %>
  </div>

  <div>
    <%= form.label :solution, "Solución" %>
    <%= form.text_area :solution %>
  </div>

  <div>
    <%= form.label :evaluation_method, "Tipo de evaluación" %>
    <%= form.select :evaluation_method, ['Multiple Choice', 'Essay', 'Mixed'] %>
  </div>

  <%= form.submit 'Crear Evaluación' %>
<% end %>