# Crea la parte de nuevas evaluaciones
# app/views/evaluations/new.html.erb
<<h1>Nueva Evaluación para <%= @course.title %></h1>

<%= form_with(model: [@course, @evaluation], local: true) do |form| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>
      <ul>
        <% @evaluation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :evaluation_method %>
    <%= form.select :evaluation_method, [['Opción múltiple', 'multiple_choice'], ['Desarrollo', 'essay'], ['Mixto', 'mixed']] %>
  </div>

  <div>
    <%= form.label :start_date %>
    <%= form.datetime_local_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date %>
    <%= form.datetime_local_field :end_date %>
  </div>

  <%= form.submit %>
<% end %>