# Show clases<h1><%= @class.title %></h1>

<p>Profesor: <%= @class.user.name %></p>
<p>Descripción: <%= @class.description %></p>
<p>Fecha: <%= @class.scheduled_date %></p>
<p>Modalidad: <%= @class.modality %></p>
<p>Materiales: <%= @class.materials %></p>

<% if current_user.tipo == "Profesor" && current_user == @class.user %>
  <h2>Crear Evaluación</h2>
  <%= render 'evaluations/form' %>
<% elsif current_user.tipo == "Estudiante" %>
  <%= button_to 'Enviar Solicitud de Inscripción', class_enrollment_requests_path(@class), method: :post %>
<% end %>

<h2>Evaluaciones</h2>
<% @class.evaluations.each do |evaluation| %>
  <div>
    <h3><%= evaluation.name %></h3>
    <p>Método de evaluación: <%= evaluation.evaluation_method %></p>
  </div>
<% end %>