<br>
<h1 class="title has-text-centered custom-title" style="color: #010c55; font-size: 48px;">
  <%= image_tag 'chat.png', alt: 'Imagen izquierda', class: 'title-img-left' %>
  Chat del curso
  <%= image_tag 'chat.png', alt: 'Imagen derecha', class: 'title-img-right' %>
</h1>
<br>
<div class="chat-messages">
  <% if @chat&.messages&.any? %>
    <% @chat.messages.each do |message| %>
      <div class="message">
        <strong><%= message.user.name %>:</strong>
        <%= message.content %>
        <small><%= message.created_at.strftime("%d/%m/%Y %H:%M") %></small>
        
        <!-- Agregar botón de eliminar solo para admin y dueño del mensaje -->
        <% if current_user.admin? || message.user == current_user %>
          <%= button_to 'Eliminar', 
              course_path(@course, message_id: message.id), 
              method: :delete,
              form: { data: { turbo_confirm: '¿Estás seguro?' } },
              class: 'button is-small is-danger' %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No hay mensajes aún.</p>
  <% end %>
</div>

<!-- Modificar la condición para incluir admin -->
<% if current_user.admin? || current_user == @course.user || @course.enrollment_requests.find_by(user: current_user)&.approved? %>
  <%= form_with url: crear_mensaje_course_path(@course), local: true do |form| %>
    <div>
      <br>
      <%= form.label :content, "Escribe tu mensaje:" %>
      <%= form.text_area :content, rows: 1, class: "single-line-text-area" %>
      <br>
    </div>
    <br>
    <%= form.submit "Enviar mensaje" %>
  <% end %>
<% end %>
<br>
<br>
<br>
<%= link_to 'Volver al curso', course_path(@course) %>