<h1>¡Deporte ya!</h1>
<% if user_signed_in? %>
  <h2>Sesión iniciada <%= current_user.email %></h2>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>&nbsp;&nbsp;
  <%= link_to 'Ajustes', render_ajustes_path %>

<% else %>
  <%= link_to 'Sign in', new_user_session_path %>&nbsp;&nbsp;
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

