<h1 class="title has-text-centered" style="color: #4CAF50;">Clases Disponibles</h1>

<div class="has-text-centered" style="margin-bottom: 20px;">
  <%= link_to 'Mis Clases Inscritas', enrolled_courses_path, class: 'button is-primary' %>
</div>

<% @courses.each do |course| %>
  <div class="box" style="margin: 15px 0; border: 2px solid #2196F3; border-radius: 5px; padding: 15px;">
    <h2 class="subtitle">
      <%= link_to course.title, course_path(course), class: "has-text-link" %>
    </h2>
    <p><strong>Profesor:</strong> <%= course.user.name %></p>
    <p><strong>Fecha:</strong> <%= course.scheduled_date %></p>
    <p><strong>Modalidad:</strong> <%= course.modality %></p>
  </div>
