# Idex/htmll que nos muestra las vistas de las clases creadas
<h1>Todas las Clases</h1>

<% @courses.each do |course| %>
  <div>
    <h2><%= link_to course.title, course_path(course) %></h2>
    <p>Profesor: <%= course.user.name %></p>
    <p>Fecha: <%= course.scheduled_date %></p>
    <p>Modalidad: <%= course.modality %></p>
    <% if current_user.tipo == "Profesor" && current_user == course.user %>
      <%= link_to 'Eliminar', course_path(course), method: :delete, data: { confirm: '¿Estás seguro?' } %>
    <% end %>
  </div>
<% end %>

<% if current_user.tipo == "Profesor" %>
  <%= link_to 'Crear Nueva Clase', new_course_path %>
<% end %>