# app/view/courses/my_courses.html.erb
<h1>Mis Clases</h1>

<% if @courses.any? %>
  <% @courses.each do |course| %>
    <div>
      <h2><%= link_to course.title, course_path(course) %></h2>
      <p>Profesor: <%= course.user&.name %></p>
      <p>Fecha: <%= course.scheduled_date %></p>
      <p>Modalidad: <%= course.modality %></p>
    </div>
  <% end %>
<% else %>
  <p>No hay clases disponibles.</p>
<% end %>

<% if current_user.tipo == "Profesor" && @enrolled_courses.any? %>
  <h2>Clases en las que Estoy Inscrito</h2>
  <% @enrolled_courses.each do |course| %>
    <div>
      <h2><%= link_to course.title, course_path(course) %></h2>
      <p>Profesor: <%= course.user&.name %></p>
      <p>Fecha: <%= course.scheduled_date %></p>
      <p>Modalidad: <%= course.modality %></p>
    </div>
  <% end %>
<% end %>