<br>
<h1 class="title has-text-centered custom-title" style="color: #010c55; font-size: 48px;">
  <%= image_tag 'sports.png', alt: 'Imagen izquierda', class: 'title-img-left' %>
  Mis clases inscritas
  <%= image_tag 'sports.png', alt: 'Imagen derecha', class: 'title-img-right' %>
</h1>

<% if @courses.any? %>
  <% @courses.each do |course| %>
    <div class="box" style="margin: 15px 0; border: 2px solid #2196F3; border-radius: 5px; padding: 15px;">
      <strong class="is-size-4">
        <%= link_to course.title, course_path(course), class: "has-text-link" %>
      </strong><br>
      <p><strong>Profesor:</strong> <%= course.user&.name %></p>
      <p style="display: inline-block; margin-right: 30px;"><strong>Fecha:</strong> <%= course.scheduled_date %></p>
      <p style="display: inline-block; margin-right: 30px;"><strong>Modalidad:</strong> <%= course.modality %></p>
    </div>
  <% end %>
<% else %>
  <p>No hay clases disponibles.</p>
<% end %>

<% if current_user.tipo == "Profesor" && @enrolled_courses.any? %>
  <% @enrolled_courses.each do |course| %>
    <div class="box" style="margin: 15px 0; border: 2px solid #2196F3; border-radius: 5px; padding: 15px;">
      <strong class="is-size-4">
        <%= link_to course.title, course_path(course), class: "has-text-link" %>
      </strong><br>
      <p><strong>Profesor:</strong> <%= course.user&.name %></p>
      <p style="display: inline-block; margin-right: 30px;"><strong>Fecha:</strong> <%= course.scheduled_date %></p>
      <p style="display: inline-block; margin-right: 30px;"><strong>Modalidad:</strong> <%= course.modality %></p>
    </div>
  <% end %>
<% end %>