<h1 class="title has-text-centered" style="color: #4CAF50;">Crear Nueva Clase</h1>

<%= form_with(model: @course, local: true, class: 'form-container') do |form| %>
  <div class="field">
    <%= form.label :title, class: 'label' %>
    <%= form.text_field :title, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :description, class: 'label' %>
    <%= form.text_area :description, class: 'textarea' %>
  </div>

  <div class="field">
    <%= form.label :scheduled_date, class: 'label' %>
    <%= form.datetime_field :scheduled_date, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :materials, class: 'label' %>
    <%= form.text_area :materials, class: 'textarea' %>
  </div>

  <div class="field">
    <%= form.label :modality, class: 'label' %>
    <%= form.select :modality, ['Presencial', 'Virtual'], {}, class: 'select' %>
  </div>

  <div class="control has-text-centered">
    <%= form.submit 'Crear Clase', class: 'button is-primary' %>
  </div>
<% end %>