<br>
<h1 class="title has-text-centered custom-title" style="color: #010c55; font-size: 48px;">
  <%= image_tag 'basketball.png', alt: 'Imagen izquierda', class: 'title-img-left' %>
  Crear nueva clase
  <%= image_tag 'basketball.png', alt: 'Imagen derecha', class: 'title-img-right' %>
<br> 
<br>

<%= form_with(model: @course, local: true, class: 'form-container') do |form| %>
  <div class="field">
    <%= form.label :title, class: 'label' %>
    <%= form.text_field :title, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :description, class: 'label' %>
    <%= form.text_area :description, class: 'textarea' %>
  </div>

  <div class="field">
    <%= form.label :scheduled_date, class: 'label' %>
    <%= form.datetime_field :scheduled_date, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :materials, class: 'label' %>
    <%= form.text_area :materials, class: 'textarea' %>
  </div>

  <div class="field">
    <%= form.label :modality, class: 'label' %>
    <%= form.select :modality, ['Presencial', 'Virtual'], {}, class: 'select' %>
  </div>

  <div class="control has-text-centered">
    <%= form.submit 'Crear Clase', class: 'button', style: 'background-color: #2196F3; color: white;' %>
  </div>
  <% end %>
