# Boton de inscribir curso que diga "inscribir curso"
<h1><%= @course.title %></h1>
<p>Profesor: <%= @course.user.name %></p>
<p>Fecha: <%= @course.scheduled_date %></p>
<p>Modalidad: <%= @course.modality %></p>

<% if current_user.tipo == "Estudiante" %>
  <% if @course.users.include?(current_user) %>
    <%= button_to 'Salir de clase', leave_course_path(@course), method: :delete, data: { confirm: '¿Estás seguro de que deseas salir de esta clase?' } %>
  <% else %>
    <%= button_to 'Inscribirse en el curso', course_enrollment_requests_path(@course), method: :post %>
   <% end %>
<% end %>

<% if current_user.tipo == "Profesor" && current_user == @course.user %>
  <h2>Crear Evaluación</h2>
  <%= render 'evaluations/form' %>

  <h2>Evaluaciones</h2>
  <% @course.evaluations.each do |evaluation| %>
    <div>
      <h3><%= evaluation.name %></h3>
      <%= link_to 'Eliminar Evaluación', course_evaluation_path(@course, evaluation), method: :delete, data: { confirm: '¿Estás seguro?' } %>
    </div>
  <% end %>

  <%= link_to 'Eliminar Clase', course_path(@course), method: :delete, data: { confirm: '¿Estás seguro? Esta acción no se puede deshacer.' }, class: 'btn btn-danger' %>

<h2>Participantes y Calificaciones</h2>
<table>
  <thead>
    <tr>
      <th>Nombre del Estudiante</th>
      <th>Calificación</th>
    </tr>
  </thead>
  <tbody>
    <% @students_with_grades.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td>
          <% grade = student.evaluations.find_by(course: @course) %>
          <%= grade.present? ? grade.score : 'Sin calificación' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


  <% end %>
