<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sprint3" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload"  
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>     
  </head>

  <body>
    <!Agrego texto a body para ver nuevos botones de clases>
    <nav>
      <%= link_to 'Inicio', root_path %>
      <% if user_signed_in? %>
        <% if current_user.tipo == "Profesor" %>
          <%= link_to 'Mis Clases', my_courses_path %>
          <%= link_to 'Crear Clase', new_course_path %>
        <% else %>
          <%= link_to 'Clases Disponibles', available_courses_path %>
          <%= link_to 'Mis Clases Inscritas', enrolled_courses_path %>
        <% end %>
        <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Iniciar Sesión', new_user_session_path %>
        <%= link_to 'Registrarse', new_user_registration_path %>
      <% end %>
    </nav>
  
    <%= yield %>
  </body>
</html>
